body {
    background-color: #c0c8cf;
}

.waifu-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: calc(100% - 70px);
}

#waifu-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* flex-wrap: wrap; */

    width: 60%;
    height: 70%;
}

/* FORM & RESULT */
form {
    display: flex;
    width: 100%;
    /* width: 100%;
    height: 100%; */
}
form label {
    width: 10%;
    text-align: right;
    font-size: 2rem;
    margin: 5px 20px 0 10px;

    color: #333;
    font-weight: 700;
}

form input {
    width: 70%;
    height: auto;
    padding: 10px;
    margin-right: 20px;
    border: 1px #ccc solid;
    border-radius: 5px;
    font-size: 1.5rem;
}

form input:focus {
    outline: none;
    box-shadow: 0 0 1px 1px rgb(255, 106, 106);
}

#send {
    height: 50px;
    min-width: 10%;

    cursor: pointer;
    display: inline;

    background-color: rgb(255, 106, 106);
    border-radius: 4px;

    border: none;
    box-shadow: 1px 1px 3px 1px slategray;

    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
}

#send:hover {
    background-color: rgb(255, 66, 66);
}

#send:active {
    background-color: rgb(216, 14, 14);
}

#result {
    width: 90%;
    height: 60%;
    padding: 50px;
    text-align: center;

    border-radius: 5px;
    box-shadow: 1px 1px 3px 1px #708090;

    overflow: auto;

    color: #462066;
    background-color: #fcf4d9;
    letter-spacing: 0.6px;
    word-spacing: 4px;
}

.result-main img {
    max-width: 90%;
    height: 90%;
}

img {
    max-width: 90%;
    height: 90%;
}

.result-main h3,
.result-main h2 {
    margin-bottom: 10px;
}
